<%- include('layout/header') %>

<div class="container">
    <div class="row my-4">
        <div>
            <h3 style="text-align: center;">DETAILED INFO - STEP BY STEP ON HOW TMNMEDIA SIGNAL WORKS</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iJDbc8s4u1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
            <div style="text-align: center; align-content: center;">
                <a href="https://track.deriv.com/_m3ZAAY7V9rNB4VdSfJsOp2Nd7ZgqdRLk/1/">
                    <img src="https://media.binary.com/uploads/en016-970x90_english.jpeg" style="max-width:100%;height:auto;align-content: center">
                
                </a>
            </div>

        <div>
            <h3 style="text-align: center;">TRADING SAMPLE WITH SIGNAL ALERT</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eqV87oVbL1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
            <br><br>
            <a href="https://t.me/TMNmediaSignalfree"><img src="https://i0.wp.com/kosherworkingmom.com/wp-content/uploads/2018/05/telegram-icon.png?fit=707%2C217&ssl=1" alt="HTML tutorial" style="width:180px;height:45px; font-weight: bold;"><br>JOIN TMNMEDIA ON TELEGRAM <br></a> 
            <button onclick href="https://t.me/TMNmediaSignalfree" > </button>
            
           
        </div>
        
    </div>
    
</div>

<%- include('layout/footer') %>

