<%- include('layout/header') %>
    <div class="container">
        <h1>TMNMEDIA SIGNAL ALERT</h1>
       
    
        <div class="container">
            <div style="text-align: center; ">

        
                <h3 style="text-align: center;" id='datupdte'>====================</h3><h1 id='tick-time'>---</h1><h3>====================</h3>
                <h4 id='datupdte2'>--</h4>
                <h4 name="ticker"></h4></h3>
        
                
        
            </div>
            <br>
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr >
                    <h2 style="text-align: center;">BEAR-SIGNAL SET UP BELOW</h2>
                    <th> LAST-TICK VALUE </th>
                    <th> PREVIOUS BAR SIZE </th>
                    <th> CURRENT BAR SIZE </th>
                    <th> SIGNAL SET-UP  </th>
                    <th> ENTRY SET-UP.   </th>
                    <th> EXIT-TICK-VALUE </th>
                    <th> ENTRY-TICK-VALUE </th>
                    <th> ENTRY-STATUS </th>
                    <th> TRADE-WON </th>
                    <th> TRADE-LOST  </th>
                    <th> WIN-RATE % </th>
                    <th> TOTAL-TRADES % </th>
                    
                </tr>
                </thead>
                <tbody>
                <tr style="font-weight: bold; text-size-adjust: auto;">
                    <td id="lastick25" name="ticker">---</td>
                    <td id="prebar25">---</td>
                    <td id="curbar25">---</td>
                    <td id="signal25">---</td>
                    <td id="entry25">---</td>
                    <td id="exitick25">---</td>
                    <td id="entrytick25">---</td>
                    <td id="entrystatus25">---</td>
                    <td id="tradewon">---</td>
                    <td id="tradelost">---</td>
                    <td id="winratio">---</td>
                    <td id="noftrades">---</td>
                    
                </tr>
        
                </tbody>
            </table>
            </div>
            <br><br>
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <h2 style="text-align: center;">25 INDEX SIGNAL SET UP BELOW</h2>
                    <th> LAST-TICK VALUE </th>
                    <th> PREVIOUS BAR SIZE </th>
                    <th> CURRENT BAR SIZE </th>
                    <th> SIGNAL SET-UP  </th>
                    <th> ENTRY SET-UP.   </th>
                    <th> EXIT-TICK-VALUE </th>
                    <th> ENTRY-TICK-VALUE </th>
                    <th> ENTRY-STATUS </th>
                    <th> TRADE-WON </th>
                    <th> TRADE-LOST  </th>
                    <th> WIN-RATE % </th>
                    <th> TOTAL-TRADES % </th>
                    
                </tr>
                </thead>
                <tbody>
                <tr style="font-weight: bold; text-size-adjust: auto;">
                    <td id="lastick">---</td>
                    <td id="prebar">---</td>
                    <td id="curbar">---</td>
                    <td id="signal">---</td>
                    <td id="entry">---</td>
                    <td id="exitick">---</td>
                    <td id="entrytick">---</td>
                    <td id="entrystatus">---</td>
                    <td id="tradewon25">---</td>
                    <td id="tradelost25">---</td>
                    <td id="winratio25">---</td>
                    <td id="noftrades25">---</td>
                    
                </tr>
        
                </tbody>
            </table>
            </div>
            <br><br>
        </div>
            
        <div style="text-align: center; align-content: center;">
            <a style=" text-align: center; font-weight: bold; font-size:1.5vw;" href="https://track.deriv.com/_m3ZAAY7V9rNB4VdSfJsOp2Nd7ZgqdRLk/1/"> <h5>CLICK HERE TO CREATE A DERIV DEMO ACCOUNT</h5> </a>
            <br><br>
            <a href="https://track.deriv.com/_m3ZAAY7V9rNB4VdSfJsOp2Nd7ZgqdRLk/1/">
                <img src="https://media.binary.com/uploads/en016-970x90_english.jpeg" style="max-width:100%;height:auto;align-content: center">
            
            </a>
        </div>
        
        <br><br>

       
    </div>    
    
    
    
    <script>
        if (Notification.permission === "granted") {
            //showNotification();
            //alert("Notifications Permitted")
            console.log('Notifications Permitted =')
        } else if (Notification.permission !== "denied") {
            Notification.requestPermission().then(permission =>{
                
                if (permission === "granted") {
                    console.log('Notification =', permission)
                    //showNotification();
                }
                //bussylow-signal.js
            });
        } 

        function deleteItems() {
            sessionStorage.clear();
            console.log('Storage Cleared =>')
        }deleteItems()

        
    setInterval(function(){ 
  
    var ifConnected = window.navigator.onLine;
    
    if (ifConnected) {
        document.getElementById("checkOnline").innerHTML = "Online";
        document.getElementById("checkOnline").style.color = "yellow";
        document.getElementById("checkOnline").style.backgroundColor = "green";
    } else {
        document.getElementById("checkOnline").innerHTML = "Offline";
        document.getElementById("checkOnline").style.color = "Black";
        document.getElementById("checkOnline").style.backgroundColor = "red";

        location.reload()
        setTimeout(() => {
            location.reload()
            return
        }, 300000);
        
    }
    getTMN()
    getTMN25()

       
  }, 1000);
  const api_url = "https://tmnmediatrading-feed.onrender.com/data";
  const api_url25 = "https://tmnmediatrading-feed.onrender.com/data25";

  async function getTMN() {
    const response = await fetch(api_url);
    const data = await response.json();
    const { signalbear,entrybear,derivtimer,beartickvalue,entrybearstatus,previousbar,currentbar,entrytickvalue,exitbear,tradewon,tradelost,winrate,noftrades} = data;
    document.getElementById('signal25').innerText = signalbear
    document.getElementById('entry25').innerText = entrybear
    document.getElementById('tick-time').innerText = derivtimer
    document.getElementById('lastick25').innerText = beartickvalue

    document.getElementById('entrystatus25').innerText = entrybearstatus
    document.getElementById('prebar25').innerText = previousbar
    document.getElementById('curbar25').innerText = currentbar
    document.getElementById('entrytick25').innerText = entrytickvalue
    document.getElementById('exitick25').innerText = exitbear
    document.getElementById('tradewon').innerText = tradewon
    document.getElementById('tradelost').innerText = tradelost
    document.getElementById('winratio').innerText = winrate
    document.getElementById('noftrades').innerText = noftrades
    
    if (entrybear === "ENTER") {
        const notificationz = new Notification('Notification From TMN-BEAR=SIGNAL-Bot',{
            body: `${'MASTER-BEAR=SIGNAL =>'}-${'TIME = '}${derivtimer}${'\r\n'}${'LAST-TICK = '}${beartickvalue}${'\r\n'}`
        });
        return
    }

    if (entrybear === "ENTER"  ) {
            document.getElementById('entry25').style.backgroundColor = "green";
            document.getElementById('entry25').style.color = "yellow";
            
        } else {
                document.getElementById('entry25').style.backgroundColor = "ash";//"green";
                document.getElementById('entry25').style.color = "black";
                           
        }

        

        if (signalbear === "BELOW BRK LVL"  ) {
            document.getElementById('signal25').style.backgroundColor = "green";
            document.getElementById('signal25').style.color = "yellow";
            
            
        } else {
                document.getElementById('signal25').style.backgroundColor = "ash";//"green";
                document.getElementById('signal25').style.color = "black";
                
                            
        }
        
    
}


async function getTMN25() {
    const response = await fetch(api_url25);
    const data = await response.json();
    const { signalbear25,entrybear25,derivtimer,beartickvalue25,entry25status25,previousbar25,currentbar25,entrytickvalue25,exitbear25,tradewon25,tradelost25,winrate25,noftrades25} = data;
    document.getElementById('signal').innerText = signalbear25
    document.getElementById('entry').innerText = entrybear25
    //document.getElementById('tick-time').innerText = derivtimer
    document.getElementById('lastick').innerText = beartickvalue25

    document.getElementById('entrystatus').innerText = entry25status25
    document.getElementById('prebar').innerText = previousbar25
    document.getElementById('curbar').innerText = currentbar25
    document.getElementById('entrytick').innerText = entrytickvalue25
    document.getElementById('exitick').innerText = exitbear25
    document.getElementById('tradewon25').innerText = tradewon25
    document.getElementById('tradelost25').innerText = tradelost25
    document.getElementById('winratio25').innerText = winrate25
    document.getElementById('noftrades25').innerText = noftrades25
    
    if (entrybear25 === "ENTER") {
        const notificationz = new Notification('Notification From TMN-R_25 INDEX =SIGNAL-Bot',{
            body: `${'MASTER-BEAR=SIGNAL =>'}-${'TIME = '}${derivtimer}${'\r\n'}${'LAST-TICK = '}${beartickvalue25}${'\r\n'}`
        });
        return
    }

    if ( signalbear25 === "BELOW BRK LVL" ) {
            
            document.getElementById('signal').style.backgroundColor = "green";
            document.getElementById('signal').style.color = "yellow";
            
            
        } else {
                document.getElementById('signal').style.backgroundColor = "ash";//"green";
                document.getElementById('signal').style.color = "black";
                            
        }
        
        if ( entrybear25 === "ENTER" ) {
            document.getElementById('entry').style.backgroundColor = "green";
            document.getElementById('entry').style.color = "yellow";
        } else {
                document.getElementById('entry').style.backgroundColor = "ash";//"green";
                document.getElementById('entry').style.color = "black";
                            
        }
}

        function checkserverS() {


            var wsl = new WebSocket('wss://ws.binaryws.com/websockets/v3?app_id=32150'); //1089
            wsl.onopen = function(evt) {
                    try { 
                        wsl.send(JSON.stringify(
                        {time: 1}),           
                        );console.log('WEBSOCKET TIMER SERVER')
            
                        
                    } catch (err) {
                    
                    }
                    
            }
                
            wsl.onmessage = function(msg) {         
                try {
                    var data = JSON.parse(msg.data);
                    var timer = data.time
                
                // document.getElementById("servertimer").innerText = timer;
                    //console.log('server-timer =>',timer,"====================");

                    
                    var devicetime = new Date();
                    var servicetime = new Date(timer * 1000);
                    var serversecs = servicetime.getSeconds();
                    var systemsecs = devicetime.getSeconds();
                    
                    var tradetimer = servicetime.toLocaleTimeString();
                    console.log( 'server-timer =>',serversecs,"====================","\n\r",'Device-timer =>',systemsecs);    
                    //document.getElementById("servertimer").innerText = tradetimer;
                        
                        if (systemsecs > serversecs + 2 || systemsecs < serversecs - 2 ) {
                            document.getElementById("v25").style.display = "none"
                            checkservertimeB()
                            checkservertimeB25()
                        } else {
                            document.getElementById("datupdte2").innerText = "TIME IS CONFIRMED =OK=";
                            document.getElementById("datupdte2").style.color = "blue";
                            // document.getElementById("v25").style.display = "none"
                            // checkservertimeB()
                            // checkservertimeB25()
                        }

                } catch (error) {
                

                } 
            }
        } checkserverS()


        function setalert() {
            var alertprice = document.getElementById("priceAlertbear").value 
            var confirmedlert = document.getElementById("priceAlertbear").innerText * 1
            document.getElementById("priceAlertbear").value = confirmedlert
            
            console.log(confirmedlert,'entered Alert Value= ',document.getElementById("priceAlertbear").value)
        }

        //<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    </script>
<%- include('layout/footer') %>
 